## CONDITIONAL BUILD FLAGS
# Sensors test harness
config SENSOR_LIB_TEST
	bool "Build sensor test harness"
	default n

config LORA_LIB_TEST
	bool "Build LoRa test harness"
	default n

config TX_PINGPONG_TEST
	bool "Build TX_Ping for PingPong Test"
	default n

config RX_PINGPONG_TEST
	bool "Build RX_Ping for PingPong Test"
	default n
