## CONDITIONAL BUILD FLAGS
# Sensors test harness
choice
	prompt "Select build version"

config SENSOR_LIB_TEST
	bool "Build sensor test harness"
	default y

config PCNT_TEST
	bool "Build Pulse Count test harness"

config POWER_TEST
	bool "Build power test harness"

config SENSOR_NODE_MAIN
	bool "Build main() for sensor node"

config CLUSTER_HEAD_MAIN
	bool "Build main() for cluster head"

config JACOB_LORA
	bool "Build Jacob's Lora test"

config NEW_DRIVER_TEST
	bool "Build test harness for new driver"

config PINGPONG_TEST
	bool "Build Ping Pong test"

config FOREST_PATHLOSS_TEST
	bool "Build Path Loss in a Forested Environment test"

config LORA_CAD_TEST
	bool "Build LoRa Channel Activity Detection test"

config MONITOR_TEST
	bool "Build test for INA219"
config MEMORY_LIB_TEST
	bool "Build Memory Library test"
	
endchoice

config DEBUG_STUFF
	bool "Debug stuff"
	default n


menu "New Driver Test Application Configuration"

	choice DIRECTION
		prompt "Communication polarity"
		default SENDER
		help
			Select Communication polarity.
		config SENDER
			bool "As the sender"
			help
				As the sender.
		config RECEIVER
			bool "As the receiver"
			help
				As the receiver.
	endchoice

endmenu 

menu "Ping Pong Application Configuration"

	choice POLARITY
		prompt "Communication Polarity"
		default PRIMARY
		help
			Select Communication Polarity.
		config PRIMARY
			bool "Primary"
			help
				As Echo Client.
		config SECONDARY
			bool "Secondary"
			help
				As Echo Server.
	endchoice

endmenu 

