## CONDITIONAL BUILD FLAGS
# Sensors test harness
choice
	prompt "Select build version"

config SENSOR_LIB_TEST
	bool "Build sensor test harness"
	default y

config LORA_LIB_TEST
	bool "Build LoRa test harness"
	default n

config TX_PINGPONG_TEST
	bool "Build TX_Ping for PingPong Test"
	default n

config RX_PINGPONG_TEST
	bool "Build RX_Ping for PingPong Test"
	default n

config PCNT_TEST
	bool "Build Pulse Count test harness"

config POWER_TEST
	bool "Build power test harness"

config SENSOR_NODE_MAIN
	bool "Build main() for sensor node"

config CLUSTER_HEAD_MAIN
	bool "Build main() for cluster head"

config JACOB_LORA
	bool "Build main() for cluster head"

endchoice
