## Sensor Library KConfig
# April 13, 2025

menu "Sensor Configurations"
config WINDVANE_GPIO
	int "GPIO pin used by the windvane"
	default 10
	help
		windvane is connected to ADC

config ANEMOMETER_GPIO
	int "GPIO pin used by the anemometer"
	default 11
	help
		The anemometer is connected to PCNT

	menu "I2C Configurations"
	# Pin configurations
	config I2C_MASTER_SCL
		int "I2C Master SCL GPIO Pin"
		default 42
		help
			The GPIO pin used by the i2c master serial clock line.

	config I2C_MASTER_SDA
		int "I2C Master SDA GPIO Pin"
		default 41
		help
			The GPIO pin used by the i2c master serial data line.

	config I2C_MASTER_FREQ
		int "I2C Master Frequency (Hz)"
		default 100000
		help
			Frequency of the I2C line, in Hz.

	config I2C_MASTER_TIMEOUT
		int "I2C Master timeout (ms)"
		default 1000
		help
			Time in miliseconds before master gives up on response.

	# bit definitions
	config I2C_MASTER_WRITE
		int "I2C Master Write Bit"
		default 0
		help
			The value of the 8th bit in a command frame indicating W operations.

	config I2C_MASTER_READ
		int "I2C Master Read Bit"
		default 1
		help
			The value of the 8th bit in a command frame indicating R operations.

	# ack/nack definitions
	config I2C_MASTER_ACK
		int "I2C Master Acknowledge"
		default 0
		help
			The value of a master acknowledge bit

	config I2C_MASTER_NACK
		int "I2C Master No_Acknowledge"
		default 1
		help
			The value of a master no_acknowledge bit

	endmenu
endmenu